/*Animación de deslizado*/
html {
  scroll-behavior: smooth;
}
/*Provisorio, para ver los div2*/
div{
    border: solid black 0.2em;
}

header{
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin-right: 20px;
    gap: 20px;
    justify-content: end;
}
button{
    font-size: 20px;
}
/*Saludo*/
.saludoContenedor{
    padding: 200px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 20px;
}

.saludo{
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    width: 43em;
}

/*Proyecto*/
.contenedorProyecto{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
#cartaProyecto{
    min-height: 352px;
    width: 452px;
    border: 1px solid black;
    padding: 20px;
}